body {
    margin: auto 0;
    height: 100vh;
    background: linear-gradient(90deg, #f58529, #dd2a7b, #8134af, #515bd4);
    align-items: center;
    display: flex;
    justify-content: center;
}

.insta-grad {
    width: 23%;
    height: 90%;
    background-color: white;
    border-radius: 40px;
}




/* this is the battery icon  */
.battery.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.battery.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 1px;
  width: 2px;
  height: 3px;
  border-radius: 0 2px 2px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.battery.icon:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 8px;
  height: 5px;
  background-color: currentColor;
}




/* This is signal icon  */
.signal.icon {
  color: #000;
  position: absolute;
  margin-left: 7px;
  margin-top: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
}

.signal.icon:before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
}

.signal.icon:after {
  content: '';
  position: absolute;
  left: -9px;
  top: -9px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
}

.chat-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 4px;
  width: 15px;
  height: 10px;
  border: solid 1px currentColor;
  background-color: currentColor;
  border-radius: 2px;
}

.chat-solid.icon:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 8px;
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-bottom: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}




/* this is top nav bar */
#right img{
    height: 21px;
    width: 21px;
}

#right{
    margin-left: 21px;
    margin-top: 10px;
    display: flex;
}

#left{
    display: inline-block;
}



hr{
    margin: 0px;
    padding: 0px;
}
/* This is the instagram top things */

#insta{
    display: flex;
    justify-content: space-between;
    padding: 10px 13px;
    border-bottom: 1px solid #ddd;
}
#logo{
    height: 50px;
}
#icons{
    display: flex;
    align-items: center;
}
#icons img{
    height: 31px;
    width: 25px;
    padding-right: 5px;
    padding-top: 2px;
    margin-left: 10px;
}

#heart:hover, #mess:hover, #logo:hover{
    transform: scale(1.2);
}